<!DOCTYPE html>
<html>
<head>
    <title>Detector de Emociones</title>
</head>
<body>
    <h1>Detector de Emociones</h1>
    <input type="text" id="textToAnalyze" placeholder="Escribe aquí tu frase">
    <button onclick="analyze()">¡Analizar!</button>
    <div id="result"></div>

    <script>
        function analyze() {
            let text = document.getElementById("textToAnalyze").value;
            fetch('/emotionDetector?textToAnalyze=' + text)
                .then(response => response.text())
                .then(data => { document.getElementById("result").innerHTML = data; });
        }
    </script>
</body>
</html>